<div ng-controller="ListController as ctrl">

  <nav class="navbar navbar-default">
    <div class="container-fluid">


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in ctrl.listsData | orderBy: 'order'" ui-sref-active="active"><a ui-sref="{{item.state}}">{{item.title}}</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Выйти</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ui-view></ui-view>
</div>


