<div ng-controller="LoginController as ctrl">

  <h1>Тестовое задание</h1>

  <h2>Описание</h2>
  <p>Основная идея, которая заложена в приложении - это минимальная связанность между модулями. Модули List-cart, list-group и list-table ничего не знаю друг о друге, знают только, что надо зарегистироваться в вышестоящем модуле, и что надо получить от него данные.
    <br>
    Родительский модуль list - ничего не знает о своих дочерних модулей, кроме того, что ему передал во время конфигурации каждый из дочерних модулей. На основе этой информации модуль list строит навигационное меню, а так же редиректит на первый дочерний жлемент.
    <br>
    В примере реализована авторизация. Если пользователь не авторизован попасть в модуль list не получится, даже если ввести url на прямую. Авторизация сохраняется в localStorage
  </p>

  <button class="btn btn-default" type="submit" ng-click="ctrl.login()">Войти</button>

</div>

